@import "tailwindcss";

:root{
  --dark-gray: #474747;
  --light-gray: #AAAAAA;
}

.fal-dark-gray{
  color: var(--dark-gray);
}
.fal-light-gray{
  color: var(--light-gray);
}
.text-dark-gray{
  color: var(--dark-gray);
}
.text-light-gray{
  color: var(--light-gray);
}

.moc-container{
  width: 1380px;
  
}

@media (max-width: 1680px) {
  .moc-container{
    width: 1340px;
  }
}

@media (max-width: 1440px) {
  .moc-container{
    width: 1300px;
  }
}

@media (max-width: 1366px) {
  .moc-container{
    width: 1260px;
  }
}

@media (max-width: 1268px) {
  .moc-container{
    width: 1140px;
  }
}

@media (max-width: 1148px) {
  .moc-container{
    width: 883px;
  }
}

@media (max-width: 991px) {
  .moc-container{
    width: 720px;
  }
}

@media (max-width: 767px) {
  .moc-container{
    width: calc(100% - 30px);
  }
}